listen = "[::1]:8080"

assets-dir    = "./assets"
templates-dir = "./templates"
db-dir        = "./"

motherlode = true

[postgres]
user     = "msgdb"
password = "msgdb"
database = "msgdb"
address  = "localhost"
port     = "5432"

[benchmark]
# Caution: Benchmark empties database!
do-benchmark = false
users        = 20
devices      = 1000
sensors      = 10
duration     = 1 # in minutes
