{{define "index_user"}}
{{template "head" "home:logged-in"}}
<div class="container">
	<div class="row" data-ng-app="msgp">
		<div data-ng-controller="GraphPage">
			<div class="alert alert-danger" data-ng-show="wsConnectionFailed" class="ng-hide">
				Connection to server broke, please try again later.
			</div>

			<div data-graph-view="" data-title="sensor graphs">
			</div>
		</div>

		<script>
			angular.module("msgp").value("wsurl", {{.Ws}});
		</script>
	</div>
</div>
{{template "tail"}}
{{end}}
