{{define "index"}}
{{template "head" "home"}}
<div class="container">
	<div class="row">
		{{if .Ws}}
			<div id="graph-container"></div>
			<div id="sensor-graph-template" style="visibility: none; width: 100%"></div>

			<script>
				var graphs = new msgp.GraphCollection("#graph-container", {
					sensorGraphTemplate: "#sensor-graph-template",
					maxAgeMs: 120 * 1000
				});

				var client = new msgp.WebsocketClient({{.Ws}});

				client.onUpdate = function(upd) {
					graphs.update(upd);
				};
			</script>
		{{else}}
			<form action="/" method="POST">
				<p>
					<label for="user" {{alertIfMissing "user" .Missing}}>Display user</label>
					<input type="text" name="user" length="20" />
				</p>
				<input type="submit" value="Submit" />
			</form>
		{{end}}
	</div>
</div>
{{template "tail"}}
{{end}}
