{{define "index"}}
{{template "head" "home"}}
<div class="container">
	<div class="row">
		{{if .Ws}}
			<div id="graph-container" class="col-xs-12"></div>
			<div id="device-graphs-template" class="col-xs-12" style="visibility: none">
				<h2 class="device-title"></h3>
				<div class="device-plots" style="width: 100%"></div>
			</div>
			<div id="sensor-graph-template" style="visibility: none; width: 100%">
				<h3 class="sensor-title"></h3>
				<div class="sensor-plot" style="width: 100%"></div>
			</div>

			<script>
				var graphs = new msgp.GraphCollection("#graph-container", {
					deviceGraphsTemplate: "#device-graphs-template",
					sensorGraphTemplate: "#sensor-graph-template",
					maxAgeMs: 120 * 1000,
					assumeValuesMissingAfterMs: 3000,
				});

				var runGraphClient = function() {
					var client = new msgp.WebsocketClient({{.Ws}});

					client.onUpdate = function(upd) {
						graphs.update(upd);
					};

					var reconnect = function() {
						client.close();
						window.setTimeout(runGraphClient, 1000);
					};

					client.onClose = runGraphClient;
					client.onError = runGraphClient;

					client.onOpen = function() {
						client.getValues(new Date() - 120000);
					};
				};

				runGraphClient();
			</script>
		{{else}}
			<form action="/" method="POST">
				<p>
					<label for="user" {{alertIfMissing "user" .Missing}}>Display user</label>
					<input type="text" name="user" length="20" />
				</p>
				<input type="submit" value="Submit" />
			</form>
		{{end}}
	</div>
</div>
{{template "tail"}}
{{end}}
