{{define "index"}}
{{template "head" "home"}}
<div class="container">
	<div class="row">
		{{if .Ws}}
			{{range .Sensors}}
				<div id="sdisp-{{.Name}}" class="epoch category10" style="height: 200px;"></div>
			{{end}}
			<script>
				var wsEndpoint = "{{.Ws | js}}";

				var startTime = (+new Date()) / 1000;
				var charts = {};

				var setupChart = function(name) {
					return $('#sdisp-' + name).epoch({
						type: 'time.line',
						label: 'Plot',
						data: [
						{ label: "val", values: [{ time: startTime, y: 0 }] },
						],
						axes: ['left', 'right', 'bottom'],
						tickFormats: {
							left: function(d) {
								return d + " W";
							}
						},
						ticks: {
							time: 20,
						},
						historySize: 120,
						windowSize: 120
					});
				};

				{{range .Sensors}}
					charts[{{.Name}}] = setupChart({{.Name}});
				{{end}}

				if (window["WebSocket"]) {
					var ws = new WebSocket(wsEndpoint, ["msgp-1"]);

					ws.onmessage = function(e) {
						var data = JSON.parse(e.data);
						charts[data.sensor].push([
							{ time: data.time_ms / 1000, y: data.value || NaN }
						]);
					};
				}
			</script>
		{{else}}
			<form action="/" method="POST">
				<p>
					<label for="user" {{alertIfMissing "user" .Missing}}>Display user</label>
					<input type="text" name="user" length="20" />
				</p>
				<input type="submit" value="Submit" />
			</form>
		{{end}}
	</div>
</div>
{{template "tail"}}
{{end}}
