{{define "register"}}
{{template "head" "register"}}
<div class="container">
	<div class="row">
		{{if .Error}}
		<div class="alert alert-danger">{{.Error}}</div>
		{{end}}
		<form action="/user/register" method="POST">
			<table>
				<tr>
					<td>
						<label for="user" {{alertIfMissing "user" .Missing}}>Username</label>
					</td>
					<td>
						<input type="text" id="user" name="user" length="20" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="password" {{alertIfMissing "password" .Missing}}>Password</label>
					</td>
					<td>
						<input type="password" id="password" name="password" length="20" />
					</td>
				</tr>
			</table>
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>
{{template "tail"}}
{{end}}

{{define "register_done"}}
{{template "head" "register"}}
<div class="container">
	<div class="row">
		<p>Registration complete.</p>
	</div>
</div>
{{template "tail"}}
{{end}}
