{{define "user-login"}}
{{template "head" "login"}}
<div class="container">
	<div class="row" data-ng-app="msgp">
		<form action="/user/login" method="POST">
			<table>
				<tr>
					<td>
						<label for="user" {{alertIfMissing "user" .Missing}}>Username</label>
					</td>
					<td>
						<input type="text" id="user" name="user" length="20" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="password" {{alertIfMissing "password" .Missing}}>Password</label>
					</td>
					<td>
						<input type="password" id="password" name="password" length="20" />
					</td>
				</tr>
			</table>
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>
{{template "tail"}}
{{end}}
