{{define "user-devices"}}
{{template "head" "user-devices:logged-in"}}
<div class="container" data-ng-app="msgp">
	<script>
		angular.module("msgp").value("devices", {{.}});
	</script>
	<div class="row" data-ng-controller="DeviceListController">
		<p class="ng-hide" data-ng-show="equals(devices, {})">
			You don't have any devices in your account.
		</p>
		<div data-device-list="" class="ng-hide" data-ng-show="!equals(devices, {})"
			data-devices="devices">
		</div>
		<p><a href="/user/devices/add">Add device</a></p>
	</div>
</div>
{{template "tail"}}
{{end}}
