{{define "user-devices"}}
{{template "head" "user-devices:logged-in"}}
<div class="container">
	<div class="row" data-ng-controller="DeviceListController">
		<p class="ng-hide" data-ng-show="equals(devices, {})">
			You don't have any devices in your account.
		</p>
		<div data-device-list="" class="ng-hide" data-ng-show="!equals(devices, {})"
			data-devices="devices">
		</div>

		<button type="button" class="btn btn-primary" data-ng-click="openAddDeviceModal()">
			Add device
		</button>
	</div>
</div>
{{template "tail"}}
{{end}}
