<p class="ng-hide" data-ng-show="equals(devices, {})">
	You don't have any devices in your account.
</p>

<div class="device-list" data-ng-hide="equals(devices, {})">
	<div class="ng-hide alert alert-danger" ng-show="error">%%error%%</div>
	<div class="ng-hide alert alert-danger" ng-show="errorLoadingSettings">Error loading settings: %%error%%</div>
	<div class="ng-hide alert alert-success device-deleted">
		Device removed
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="(deviceID, props) in devices"
				device-id="%%deviceID%%">
				<td>%%deviceID%%</td>
				<td>%%props.name%%</td>
				<td>
					<a class="btn btn-primary btn-sm" ng-click="editDevice(deviceID)">
						<span class="glyphicon glyphicon-pencil" />
					</a>
				</td>
				<td>
					<a class="btn btn-danger btn-sm" ng-click="remove(deviceID)">
						<span class="glyphicon glyphicon-remove" />
					</a>
				</td>
			</tr>
			<tr ng-repeat-end="" device-id="%%deviceID%%">
				<td colspan="4" style="padding-left: 10%">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Sensor ID</th>
								<th>Name</th>
								<th>Unit</th>
								<th>Port</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(sensorID, props) in props.sensors">
								<td>%%sensorID%%</td>
								<td>%%props.name%%</td>
								<td>%%props.unit%%</td>
								<td>%%props.port <= 0 ? "" : props.port%%</td>
								<td>
									<a class="btn btn-primary btn-sm" ng-click="editSensor(deviceID, sensorID)">
										<span class="glyphicon glyphicon-pencil" />
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<button type="button" class="btn btn-primary" data-ng-click="addDevice()">
	Add device
</button>
