<div>
	<div>
		<div class="form-group">
			<label for="deviceEditorName">Name</label>
			<input type="text" id="deviceEditorName" data-ng-model="device.name" class="form-control" />
		</div>
		<div>
			<label>
				<input type="checkbox" data-ng-model="device.lan.enabled" />
				LAN enabled
			</label>
		</div>
		<table class="ng-hide" data-ng-show="device.lan.enabled">
			<tr>
				<td>Protocol</td>
				<td>
					<select data-ng-model="device.lan.protocol">
						<option value="dhcp">DHCP</option>
						<option value="static">Static</option>
					</select>
				</td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.lan.protocol == &quot;static&quot;">
				<td>IP</td>
				<td><input type="text" data-ng-model="device.lan.ip"/></td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.lan.protocol == &quot;static&quot;">
				<td>Netmask</td>
				<td><input type="text" data-ng-model="device.lan.netmask"/></td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.lan.protocol == &quot;static&quot;">
				<td>Gateway</td>
				<td><input type="text" data-ng-model="device.lan.gateway"/></td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.lan.protocol == &quot;static&quot;">
				<td>Nameserver</td>
				<td><input type="text" data-ng-model="device.lan.nameserver"/></td>
			</tr>
		</table>
	</div>
	<div>
		<label>
			<input type="checkbox" data-ng-model="device.wifi.enabled" />
			Wifi enabled
		</label>
		<table class="ng-hide" data-ng-show="device.wifi.enabled">
			<tr>
				<td>SSID</td>
				<td><input type="text" data-ng-model="device.wifi.essid" /></td>
			</tr>
			<tr>
				<td>Encryption</td>
				<td>
					<select data-ng-model="device.wifi.enc">
						<option value="open">None</option>
						<option value="wpa">WPA-PSK</option>
						<option value="wpa2">WPA2-PSK</option>
					</select>
				</td>
			</tr>
			<tr class="ng-hide" data-ng-show="(device.wifi.enc || &quot;open&quot;) != &quot;open&quot;">
				<td>Password</td>
				<td><input type="text" data-ng-model="device.wifi.psk" /></td>
			</tr>
			<tr>
				<td>Protocol</td>
				<td>
					<select data-ng-model="device.wifi.protocol">
						<option value="dhcp">DHCP</option>
						<option value="static">Static</option>
					</select>
				</td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.wifi.protocol == &quot;static&quot;">
				<td>IP</td>
				<td><input type="text" data-ng-model="device.wifi.ip"/></td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.wifi.protocol == &quot;static&quot;">
				<td>Netmask</td>
				<td><input type="text" data-ng-model="device.wifi.netmask"/></td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.wifi.protocol == &quot;static&quot;">
				<td>Gateway</td>
				<td><input type="text" data-ng-model="device.wifi.gateway"/></td>
			</tr>
			<tr class="ng-hide" data-ng-show="device.wifi.protocol == &quot;static&quot;">
				<td>Nameserver</td>
				<td><input type="text" data-ng-model="device.wifi.nameserver"/></td>
			</tr>
		</table>
	</div>
	<div>
		<input type="button" value="Save" data-ng-click="savePressed()" />
		<input type="button" value="Cancel" data-ng-click="cancelPressed()" />
	</div>
</div>
