<div class="device-list-">
	<div class="ng-hide modal-spinner-overlay" data-ng-show="showSpinner">
	</div>
	<div class="ng-hide alert alert-danger" data-ng-show="error">%%error%%</div>
	<div class="ng-hide alert alert-danger" data-ng-show="errorLoadingSettings">Error loading settings: %%error%%</div>
	<div class="ng-hide alert alert-success device-deleted-">
		Device removed
	</div>

	<div class="modal fade" id="deviceEditDialog" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">Edit device</h4>
				</div>
				<div class="modal-body">
					<div class="ng-hide alert alert-danger" data-ng-show="errorSavingSettings">
						Error saving settings: %%errorSavingSettings%%
					</div>
					<div data-device-editor="" data-device="editedDeviceProps">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-ng-click="deviceEditorSave()">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="sensorEditDialog" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">Edit sensor</h4>
				</div>
				<div class="modal-body">
					<div class="ng-hide alert alert-danger" data-ng-show="errorSavingSensor">Error: %%errorSavingSensor%%</div>
					<div class="form-group">
						<label for="sensorNameField">Name</label>
						<input type="text" id="sensorNameField" data-ng-model="editedSensor.name" class="form-control" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-ng-click="saveSensor()">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat-start="(dev, props) in devices"
				data-device-id="%%dev%%"
				data-device-netconf-url="/api/user/v1/devices/config/%%dev%%"
				data-device-remove-url="/api/user/v1/devices/remove/%%dev%%">
				<td>%%dev%%</td>
				<td>%%props.name%%</td>
				<td>
					<a class="btn btn-primary btn-sm" data-ng-click="editDev($event)">
						<span class="glyphicon glyphicon-pencil" />
					</a>
				</td>
				<td>
					<a class="btn btn-danger btn-sm" data-ng-click="remove($event)">
						<span class="glyphicon glyphicon-remove" />
					</a>
				</td>
			</tr>
			<tr data-ng-repeat-end="" data-device-id="%%dev%%">
				<td colspan="4" style="padding-left: 10%">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Sensor ID</th>
								<th>Name</th>
								<th>Unit</th>
								<th>Port</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(id, props) in props.sensors"
								data-sensor-id="%%id%%"
								data-sensor-conf-url="/api/user/v1/sensor/%%dev%%/%%id%%/props">
								<td>%%id%%</td>
								<td>%%props.name%%</td>
								<td>%%props.unit%%</td>
								<td>%%props.port <= 0 ? "" : props.port%%</td>
								<td>
									<a class="btn btn-primary btn-sm" data-ng-click="editSensor($event)">
										<span class="glyphicon glyphicon-pencil" />
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
