<table>
    <tbody>
        <tr class="text-center">
            <td>
                <a ng-click="increment()" class="btn btn-link">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <input type="number" ng-model="ngModel" class="form-control text-center numberSpinner" ng-change="change()">
            </td>
        </tr>
        <tr class="text-center">
            <td>
                <a ng-click="decrement()" class="btn btn-link">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
